<div data-ng-controller="MovieSearchCtrl">
	<h2>Search for a movie</h2>
	
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="MovieTitle" class="col-md-2 col-sm-12">MovieTitle</label>
	    <div class="col-md-6 col-sm-12 ">
	      <input type="text" class="form-control" id="MovieTitle" placeholder="Enter title" data-ng-model="title">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="Year" class="col-md-2 col-sm-12">Year</label>
	    <div class="col-md-6 col-sm-12">
		  <select name="year" data-ng-model="year" class="form-control">
		    <option value="-1">Select a year</option>
		    <option data-ng-repeat="year in years">{{year}}</option>
		  </select>    
	    </div>
	  </div>
	  	  	  
	  <div class="form-group">
	  	<label for="MPAARating" class="col-md-2 col-sm-12">MPAA Rating</label>
	  	<div class="col-md-2">
	  		<select name="mpaaRating" data-ng-model="mpaaRating" class="form-control">
		    	<option value="null">Select rating</option>
		    	<option data-ng-repeat="rating in mpaaRatings">{{rating}}</option>
		  	</select> 
		</div>
	  </div>
	  
	  <div class="form-group">
	  	<label for="RunningTimeComparator" class="col-md-2">Running time is </label>
	  	<div class="col-md-2">
		  	<select class="form-control" name="runningTimeComparator" data-ng-model="runningTimeComparator">
		  		<option value="<">less than</option>
		  		<option value="<=">no more than</option>
		  		<option value="=">equal to</option>
		  		<option value=">=">at least</option>
		  		<option value=">">more than</option>
		  	</select>
	  	</div>
	  	
	  	<div class="col-md-2">
	  		<input type="text" class="form-control" id="RunningTime" data-ng-model="runningTime"/>
	  	</div>
	  	
	  	<p class="form-control-static col-md-2">minutes</p>
	  </div>
	  
	  <div class="form-group">
	  	<label for="imdbRating" class="col-md-2">Minimum IMDB Rating</label>
	  	<div class="col-md-2">
	  		<input type="number" class="form-control" id="IMDBRating" data-ng-model="imdbRating" min="0" max="10" step="0.5"/>
	  	</div>
	  </div>
	  
	  <div class="form-group">
	    <label class="col-md-2 col-sm-12">Genres include:</label>
	    <div class="col-md-3 col-offset-1 col-sm-12">
		  <select name="genre1" data-ng-model="genre1" class="form-control">
		    <option value="null">Select a genre</option>
		    <option data-ng-repeat="genre in genres">{{genre}}</option>
		  </select>    
	    </div>
	    <div class="col-md-3 col-sm-12">
		  <select name="genre2" data-ng-model="genre2" class="form-control">
		    <option value="null">Select a genre</option>
		    <option data-ng-repeat="genre in genres">{{genre}}</option>
		  </select>    
	    </div>
	    <div class="col-md-3 col-sm-12">
		  <select name="genre3" data-ng-model="genre3" class="form-control">
		    <option value="null">Select a genre</option>
		    <option data-ng-repeat="genre in genres">{{genre}}</option>
		  </select>    
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="col-md-2 col-sm-12">People include:</label>
	    <div class="col-md-5 col-sm-12">
		    <input type="text" class="form-control" id="person1Name"
						placeholder="Enter Person name"
						data-ng-model="person1Name">
	    </div>
	    
	    <div data-ng-hide="!person1Name">	    
		    <label class="col-md-1 col-sm-12">Role:</label>
		    
		    <div class="col-md-4 col-sm-12">
		    	<select name="person1role" data-ng-model="person1Role" class="form-control">
		    		<option value="null">Select role</option>
		    		<option data-ng-repeat="category in categories">{{category}}</option>
		    	</select>
		    </div>
	    </div>
	  </div>
	  
	  <div class="form-group" data-ng-hide="(!person1Name) || (person1Role == 'null')">	  
	    <div class="col-md-offset-2 col-md-5 col-sm-12">
		    <input type="text" class="form-control" id="person2Name"
						placeholder="Enter Person name"
						data-ng-model="person2Name">
	    </div>
	    
	    <div data-ng-hide="!person2Name">	    
		    <label class="col-md-1 col-sm-12">Role:</label>
		    
		    <div class="col-md-4 col-sm-12">
		    	<select name="person2role" data-ng-model="person2Role" class="form-control">
		    		<option value="null">Select role</option>
		    		<option data-ng-repeat="category in categories">{{category}}</option>
		    	</select>
		    </div>
	    </div>
	  </div>
	  
	  <div class="form-group" data-ng-hide="(!person2Name) || (person2Role == 'null')">	  
	    <div class="col-md-offset-2 col-md-5 col-sm-12">
		    <input type="text" class="form-control" id="person3Name"
						placeholder="Enter Person name"
						data-ng-model="person3Name">
	    </div>
	    
	    <div data-ng-hide="!person3Name">	    
		    <label class="col-md-1 col-sm-12">Role:</label>
		    
		    <div class="col-md-4 col-sm-12">
		    	<select name="person3role" data-ng-model="person3Role" class="form-control">
		    		<option value="null">Select role</option>
		    		<option data-ng-repeat="category in categories">{{category}}</option>
		    	</select>
		    </div>
	    </div>
	  </div>	  
	  	  
	  <div class="form-group">
	  	<div class="col-md-4 col-sm-12">
	  	  <button class="btn btn-primary" data-ng-click="searchForMovies()" data-ng-disabled="searchDisabled()">Search</button>
	  	</div>
	  </div>
	</form>
	
	<div data-ng-show="movies.length > 0">
		<h2>Results</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Running Time (minutes)</th>					
					<th>Genres</th>
					<th>MPAARating</th>					
					<th>IMDB Rating</th>
					<th>Number of ratings</th>					
				</tr>
			</thead>
			
			<tbody>
				<tr data-ng-repeat="movie in movies">
					<td>{{movie.title}}</td>
					<td>{{movie.yearReleased}}</td>
					<td>{{movie.runningTimeInMinutes}}</td>
					<td>{{movie.genres}}</td>
					<td>{{movie.MPAARating}}</td>
					<td>{{movie.imdbRating}}</td>
					<td>{{movie.numberOfRatings}}</td>					
				</tr>
			</tbody>
		</table>
	</div>

	<div data-ng-show="searchPerformed && movies.length == 0">
		<div class="alert alert-danger">No movies found for the specified search</div>
	</div>
</div>